<%include header%>
<div class="text-center">
	<h1 class="create-title">YAY!</h1>
	<h1 class="create-url">Your shortened URL is: <a href="<%= short %>">http://short/<%=short%></a></h1>
</div>
<%include footer%>
